absl-py==2.1.0
acres==0.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.40.0
anyio==4.7.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
backoff==1.11.1
balldontlie==0.1.2
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
blis==1.0.1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
chardet==5.2.0
charset-normalizer==3.2.0
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
configobj==5.0.9
configparser==7.1.0
constantly==23.10.4
contourpy==1.1.0
cryptography==44.0.0
cssselect2==0.7.0
curl_cffi==0.7.4
cycler==0.11.0
cymem==2.0.8
daphne==4.1.2
defusedxml==0.7.1
distro==1.9.0
Django==5.1.4
django-cors-headers==4.6.0
django-taggit==6.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
drf-yasg==1.21.8
duckduckgo_search==6.4.1
etelemetry==0.3.1
eval_type_backport==0.2.0
eventlet==0.38.2
fastlogging==1.2.0
filelock==3.16.1
fitz==0.0.1.dev2
Flask==3.1.0
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
flatbuffers==24.3.25
fonttools==4.42.1
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
gensim==4.3.3
gevent==24.11.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.155.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
google-pasta==0.2.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
groq==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
h11==0.14.0
h5py==3.12.1
html5lib==1.1
httpcore==1.0.7
httpie==3.2.4
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.5
hyperlink==21.0.0
idna==3.4
importlib_resources==6.4.5
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonpath-python==1.0.6
keras==3.6.0
keybert==0.8.5
kiwisolver==1.4.4
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
logger==1.4
looseversion==1.3.0
lxml==5.3.0
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==2.1.5
matplotlib==3.7.2
mdurl==0.1.2
mistletoe==1.4.0
mistralai==1.2.5
ml-dtypes==0.4.1
django-oauth-toolkit
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
netlify-py==0.1.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.1
nltk==3.9.1
numpy==1.26.4
ollama==0.4.4
openai==1.57.4
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.12
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==23.1
pandas==2.0.2
pathlib==1.0.1
pdf2image==1.17.0
pdfminer.six==20240706
Pillow==10.0.0
playwright==1.49.1
pluggy==1.5.0
preshed==3.0.9
primp==0.8.3
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.1
prov==2.0.1
puremagic==1.28
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.1
pydantic_core==2.27.1
pydot==3.0.2
pyee==12.0.0
pygame==2.1.3
Pygments==2.18.0
pyHanko==0.25.3
pyhanko-certvalidator==0.26.5
PyJWT==2.10.1
PyOpenGL==3.1.7
pyOpenSSL==24.3.0
pyparsing==3.0.9
pypdf==5.1.0
PySocks==1.7.1
pytesseract==0.3.13
pytest==8.3.4
pytest-base-url==2.1.0
pytest-playwright==0.6.2
python-bidi==0.6.3
python-dateutil==2.8.2
python-decouple==3.8
python-engineio==4.10.1
python-slugify==8.0.4
python-socketio==5.11.4
pytz==2023.3
pyxnat==1.6.2
PyYAML==6.0.2
qrcode==8.0
rdflib==6.3.2
redis==5.2.1
regex==2024.11.6
reportlab==4.2.5
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.9.2
rsa==4.9
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.13.1
seaborn==0.13.2
selenium==4.27.1
sentence-transformers==3.3.1
service-identity==24.2.0
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.19.3
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spotify==0.10.2
SQLAlchemy==2.0.36
sqlmodel==0.0.22
sqlparse==0.4.3
srsly==2.4.8
svglib==1.5.1
sympy==1.13.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
text-unidecode==1.3
Theano==1.0.5
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.4.0
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1
tqdm==4.67.0
traits==6.4.3
transformers==4.47.0
trio==0.28.0
trio-websocket==0.11.1
twilio==9.3.8
Twisted==24.11.0
txaio==23.1.1
typer==0.13.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==5.2
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.0.4
uvicorn==0.34.0
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wrapt==1.16.0
wsproto==1.2.0
xhtml2pdf==0.2.16
yarl==1.18.3
zope.event==5.0
zope.interface==7.2
django-allauth
